@model Invent.Web.Data.Entities.Inventory

@{
    ViewData["Title"] = "Delete";
}

@*<h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Inventory</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfCreation)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>*@

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@ViewData["Title"]</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-md-10 offset-1 text-center">
                    <img src="~/images/ams.png" alt="ams" style="width: 200px; margin: 5% auto;" />
                    <br />
                    <h5>Are you sure you want to delete this?</h5><br />
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.DateOfCreation)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.DateOfCreation)
                        </dd>
                    </dl>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger btn-block" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">

        $("#myModal").modal('show');

        $('#myModal').on('hidden.bs.modal', function (e) {
            document.location.href = "/Inventories";
        })
    </script>
}