@model IEnumerable<Invent.Web.Data.Entities.ProductModel>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div class="col-md-4 offset-4 text-center" style="width: 300px;">
    <h1>Models</h1>
    <br />
    <table class="table text-center">
        <thead>
            <tr >
                <th colspan="3">
                    <a class="btn btn-primary btn-block" asp-action="Create">Create New</a>
                </th>           
            </tr>
            <tr>
                <th >
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Manufacturer)                  
                </th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                       <a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>